/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER section */
.header__logo {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-bottom: 20px;
}

.menu {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 20px 0;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 1.08rem;
    color: #636363;
}

.menu li {
    list-style-type: none;
    display: inline;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    border-bottom: 2px solid #b31c25;
}

/* BANNER section */
.banner {
    background-image: url('../img/slider_1.png');
    height: 500px;
    background-size: cover;
    margin: 1.5rem 5px;
}

/* INTRO section */
.intro {
    text-align: center;
    width: 90%;
    margin: 4rem auto;
    font-size: 1.05rem;
    line-height: 28px;
}

.intro img {
    margin: 2rem auto;
}

.intro p {
    color: #787172;
}

/* PROGRAMS section */
.programs {
    text-align: center;
    margin: 4rem auto;
}

.programs .line {
    margin: 2rem auto;
}

.programs__content {
    display: flex;
    justify-content: center;
}

.programs__item {
    padding: 10px;
    width: 25%;
    text-align: left;
}

.programs__item img {
    width: 100%;
    cursor: pointer;
}

.programs__item h4 {
    margin: 10px auto;
    color: #b31c25;
    cursor: pointer;
}

/* NEWS section */
.news {
    text-align: center;
}

.news .line {
    margin: 2rem auto;
}

.new__content {
    margin: 0 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.news__item {
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid #b31c25;
    color: white;
    position: relative;
}

.news__item img {
    width: 100%;
    height: 100%;
}

.news__item .text-overlay {
    position: absolute;
    text-align: left;
    bottom: 5px;
    height: 80px;
    padding-left: 10px;
    word-spacing: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.new__content .news__item:first-child .text-overlay {
    font-size: 1.5rem;
    word-spacing: 2px;
}

/* FOOTER section */
footer {
    background-color: #b31c25;
    color: white;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 10px 0;
}

.footer-left {
    margin-left: 4rem;
}

.footer-right {
    width: 45%;
    line-height: 1.55rem;
    text-align: justify;
    margin-right: 4rem;
    font-size: 1.04rem;
}